<div>
    <h2>Meter</h2>
    <div class="form-row filed-name">
        <div>
            <label class="required">Model:</label>
            <div class="readonly">{{ dev_info.meterModel }}</div>
        </div>
    </div>
    <div class="form-row filed-name">
        <div>
            <label class="required">Hardware Version:</label>
            <div class="readonly">{{ dev_info.meterHardwareVersion }}</div>
        </div>
    </div>
    <div class="form-row filed-name">
        <div>
            <label class="required">Firmware Version:</label>
            <div class="readonly">{{ dev_info.meterFirmwareVersion }}</div>
        </div>
    </div>
    <div class="form-row filed-name">
        <div>
            <label class="required">Release Date:</label>
            <div class="readonly">{{ dev_info.meterReleaseDate }}</div>
        </div>
    </div>
    <div class="form-row filed-name">
        <div>
            <label class="required">Serial Number:</label>
            <div class="readonly">{{ dev_info.meterSerialNumber }}</div>
        </div>
    </div>
</div>