<h2>{% include "django/forms/widgets/input_option.html" %}</h2>

<table style="width: 100%;">
    <tr>
        <td style="width: 25%; font-weight: bold;">Name:</td>
        <td>{{ widget.device_data.device_name }}</td>
    </tr>
    <tr>
        <td font-weight: bold;">Model:</td>
        <td>{{ widget.device_data.model }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Firmware:</td>
        <td>{{ widget.device_data.firmware }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Last connection time:</td>
        <td>{{ widget.device_data.last_app_connect_time }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Is solar:</td>
        <td>{{ widget.device_data.solar }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Latitude:</td>
        <td>{{ widget.device_data.latitude }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Longitude:</td>
        <td>{{ widget.device_data.longitude }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Customer:</td>
        <td>{{ widget.device_data.customer_info.first_name }}, {{ widget.device_data.customer_info.last_name }}<{{ widget.device_data.customer_info.email }}></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">Connected:</td>
        <td>{{ widget.device_data.device_connected }}</td>
    </tr>
</table>

